.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1 {
  font-weight:700;
}

.row img {
  max-width:100%;
  height:auto;
  border-radius:6px;
  box-shadow:3px 3px 3px #ddd;
  margin-bottom:10px;
}

.row .col-6 {
  margin-bottom:1em;
}

a:hover {
  text-decoration:none;
}
